@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}




 $blue-main: #060D87;
$nanum-gothic: 'Nanum Gothic', sans-serif;

body {
    font-family: $nanum-gothic;
    height: 100%;
}

h1 {
    color: $blue-main;
}

.main-application-container {
    padding: 0;
    margin: 0;

    @include md {
        width: 100%;
        max-width: none !important;
    }
    
}

//Navbar


.navbar-main {
    background-color: $blue-main;
    height: 4rem;

    @include lg {
        background-color: #fff;
    }

    .large-nav-container {
        display: none !important;

        @include lg {
            display: flex !important;
            // max-width: none;
            // width: 80%;
        }

        .nav-bar-large {
            @include lg {
                width: 100%;
                
            }
        }

        .icon-left {
            display: none;
            
            @include lg {
                display: block;
            }
        
        }

        .links-right {

            width: 10rem; 

            .nav-link-list {
                list-style-type: none;
                margin: 0;
                padding: 0;

                .hover-nav-container {
                    .bootstrap-nav-drop-container {
                        .projects-drop-down-button {
                            background: #fff;
                            color: $blue-main;
                            border: none;
                        }
                    }
                }

                li {
                    a {
                        text-decoration: none;
                        color: $blue-main;
                    }
                }
            }
        }

        .icon-left {
            border-radius: 50%;
            border: 2px solid #DDDDDD;
            height: 37px;
            width: 37px;
            cursor: pointer;
        }
    }
}

.projects-page-nav {
    @include lg {
        background-color: $blue-main;
        
    }

    .large-nav-container {

        @include lg {
            display: flex !important;
            max-width: none;
            width: 80%;
        }

        .nav-bar-large {


            .links-right {
    
    
                .nav-link-list {
    
    
                    .hover-nav-container {
                        .bootstrap-nav-drop-container {
                            .projects-drop-down-button {
                                background: $blue-main;
                                color: #fff;
                                border: none;
                                outline: none;
                            }
    
                            .dropdown-menu {
                                .dropdown-item {
                                    a {
                                        color: $blue-main;
                                    }
                                   
                                }
                            }
                        }
                    }
    
                    li {
                        a {
                            color: #fff;
                        }
                    }                
    
                    
                }
            }
        }

    }

    

    a {
        color: #fff;
    }
}

.mobile-menu-icon {
    color: #fff;

    @include lg {
        display: none;
    }
}

.nav-modal-container {
    left: 0;
    right: 0;
    background-color: $blue-main;

    .nav-modal-links-container {
      
        a {
            margin: .5rem auto;
            color: #fff;
            text-decoration: none;
        }
    }
}



// Homepage
.website-title-container {
    margin-top: 3rem;
    padding: 0;

    .top-container {

        flex-direction: column;

        .tristan-headshot {
            margin-top: 3rem;
            height: 300px;
            width: 200px;
            margin-bottom: 5rem;
        }
    
        .website-title {
            font-size: 2rem;
        }

        @include lg {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    
}

.projects-showcase-container {
    a {
        text-decoration: none;
    }
}

.project-container {
    padding: 0;
    margin-top: 2rem;
    width: 100%;
    height: auto;

    @include md {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }
    
    .project-showcase-title {
        text-align: left;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.mars-rover-photo {
    width: 100%;
    height: 10rem;
}

// Projects

.project-top-container {
    background-color: $blue-main;
    height: 25rem;

    @include lg{
        padding-top: 5rem;
    }

    h1 {
        color: #fff;
    }

    p {
        color: #fff;
    }
}

.button-container {

    a {
        text-decoration: none;
        width: 80%;
        font-family: $nanum-gothic;
       

        button {
            font-family: $nanum-gothic;
            width: 100%;
            height: 3rem;
            outline: 0;
            border: none;
            margin: 1rem auto;
            font-weight: 800;
        }


    }

    
}

.visit-site-button, .visit-site-button:hover, .visit-site-button:active {
    background-color: #CB8423 !important;
}



.visit-code-button, .visit-code-button:hover, .visit-code-button:active {
    background-color: #0B9D96 !important;
}


.project-middle-container {

    position: relative;

    .project-image-main {

        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        width: 92%; 

        @include md {
            top: -13%;
            width: 96%;
        }

        @include lg {
            top: -9%;
            width: 80%;
        }
        
    }

    .image-spacer {
        height: 7rem;

        @include md {
            height: 20rem;
        }

        @include lg {
            height: 40rem;
        }
    }

    img {
        width: 100%;
    }
    h2, p {
        text-align: left;
        color: $blue-main
    }

    .project-image-bottom {
        margin-top: 2rem;
    }
}

.project-bottom-container {
    margin-top: 2rem;

    h2, h4 {
        color: $blue-main;
        text-align: left;
    }
}

.inner {
    @include lg {
        margin: auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button-container {
        @include lg {
            width: 50%;
        }
    }

    .text-container {
        @include lg {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

        }
    }
}

.inner-middle {
    @include lg {
        margin: auto;
        width: 80%;
    }
}

.inner-bottom {

    @include lg {
        margin: auto;
        width: 80%;
    }

    a {
        text-decoration: none;
    }
}
// About Page

.about-page-upper-container, .about-page-middle-container {

    margin-top: 2rem;

    h1 {
        text-align: left;
    }

    

    .image-container {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 150px);
        margin-top: 1rem;

        @include md {
            margin-top: 2rem;
        }

        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
    
        img {
            height: 4rem;
            width: 4rem;
            object-fit: fill;
        }

        .react-icon {
            width: auto;
        }
    }

    .whats-next-title {
        // font-size: 1.7rem;
    }

    .whats-next-container {
        grid-template-columns: repeat(4, minmax(50px, 1fr));
        grid-template-rows: auto;

        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        img {
            height: 4rem;
            width: 4rem;
            object-fit: fill;
        }
    }

}

.about-me-text-container {
   
    margin-top: 2rem;
    h1 {
        text-align: left
    }

    p {
        text-align: left;
        font-size: .9rem;
    }
}




// Footer
.footer {
    margin-top: 5rem;
    width: 100%;
    height: 10rem;
    background-color: $blue-main;
}

.footer-header-text {
    color: #fff;
}

.copyright-info {
    color: #fff;
}